.easyRead {
	font-size: 28px;
	
}

.nTopCenter {

}

.baseline {
	vertical-align:middle;
	display:inline-block;
}

.some-block {
	display:inline-block;
	
	vertical-align:middle;
	text-align:center;
	
}
.mini-font {
		font-size:smaller;
}

.huge-bracket {
	font-size:58px;

}
.dib {
	display: inline-block;
}

.nAbove

.kBelow




